/* Custom properties */

:root {
    
    /* Colors */
    

    /* Font */
    --primary-font: 'Dosis', sans-serif;
    --size-font: 16px;

}

/* Reset */

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: var(--size-font);
    font-family: var(--primary-font);
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
    transition: all .5s ease-out;
}

a:hover {
    color: black;
    opacity: .8;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Site Properties */

body {
    min-width: 375px;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(4,3,65,1) 25%, rgba(4,3,65,1) 75%, rgba(0,0,0,1) 100%);
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0);
    z-index: 999;
}

.header .logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    color: white;
}

.header .logo h2 a {
    font-weight: 800;
    color: white;
    font-size: 2rem;
}

.header .hamburger {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger--collapse .hamburger-inner,
.hamburger--collapse .hamburger-inner::before,
.hamburger--collapse .hamburger-inner::after {
    background-color: white !important;
}

.nav {
    width: 100%;
    padding: 1.5rem;
    height: auto;
    position: fixed;
    top: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;
    transition: all .3s ease-out;
    min-width: 375px;
}

.nav li {
    padding: .5rem;
}

.nav li a {
    color: white;
}

.nav i {
    margin-left: .4rem;
}

.options-alcoholic,
.options-category {
    display: none;
    text-align: center;
}

.options-alcoholic a,
.options-category a {
    color: gray !important;
}

.options-alcoholic.show,
.options-category.show {
    display: block;
}

.search_by_ingredient {
    padding: .5rem;
    display: none;
}

.search_by_ingredient input {
    padding: .3rem;
    width: 30ch;
    margin: 0 auto;
}

.search_by_ingredient.show {
    display: block;
}

main {
    width: 100%;
    height: auto;
    padding: .5rem;
    padding-top: 12vh;
    color: white;
}

main h1 {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

main .search {
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

main .search input {
    width: 90%;
    padding: .4rem;
    font-weight: 700;
}

.navigation {
    overflow: hidden;
    margin: 0 auto 1.5rem auto;
    width: 80%;
    text-align: center;
}

.navigation span:not(:first-child) {
    margin-left: 2px;
}


.navigation span a {
    color: white;
}

.navigation div {
    display: block;
}


#xhr {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#xhr .card {
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s ease-out;
    border-radius: .5rem;
    background: rgb(2,0,36);
    box-shadow:  5px 5px 23px rgb(2,0,36), -5px -5px 23px rgb(2,0,36);
    overflow: hidden;
    perspective: 1000px;
}

#xhr .card .card-front li:last-child {
    margin: 1rem 0rem !important;
    padding: 0;
}

.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: show;
    transform: rotateY(180deg);
    top: 0;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    padding: 1rem;
}

.card-back div {
    text-overflow: ellipsis;
}

.card-back h2 {
    font-size: 1.2rem;
    margin: 0;
}

.card-back p {
    font-size: .9rem;
    width: 100%;
    height: auto;
    margin: 0;
}

.card-back a {
    margin-top: .5rem;
}

.card.flipped {
    transform: rotateY(180deg);
}

#xhr .card h2 {
    font-size: 1.5rem;
    padding: .5rem;
}

#xhr .card h3 {
    font-size: 1.1rem;
    font-weight: 400;
    padding: .5rem;
}

#xhr ol {
    margin-top: -10vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}


#xhr ol li {
    font-size: 1.2rem;
    color: white;
}

.up {
    width: auto;
    height: auto;
    padding: .8rem;
    border-radius: 50%;
    outline: none;
    border: none;
    position: fixed;
    bottom: 1rem;
    right: .5rem;
    z-index: 997;
    cursor: pointer;
}

/* Utilities */

.none {
    display: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: show;
    opacity: 1;
}

.translate {
    /* top: -90vh; */
    transform: translateY(-90vh);
}

.attribution {
    margin: 5rem 0rem 2rem 0rem;
    text-align: center;
    font-size: 16px;
    color: white;
}

.attribution a {
    color: white;
}

.filter {
    /* nos permite ocultar o discriminar los resultados que no coincidan con la busqueda, como le queremos poner transiciones, no se puede con un display none, asique si le queremos poner transiciones debemos usar visibility hidden, pero si no le queremos poner transiciones, con display none basta */
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    /* esta propiedad de order está disponible solo para grid o flex, lo que hace es que las que tengan order activada, se van a ir moviendo hacia el final, como todas las tarjetas con filter van a tener order 1, estas se van a ir al final dejando al principio las tarjetas con order 0 por defecto, que sería las que coincidan con la busqueda del usuario */
    order: 1;
}

.open {
    rotate: 180deg;
}

/* Mediaqueries */

@media screen and (min-width:500px) {
    #xhr .card {
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    main .search input {
        width: 50%;
        padding: .4rem;
        font-weight: 700;
    }
    
}